block contents
  footer.footer
    .center-area
      .footer__plan
        .footer__plan-card
          img(src="assets/footer-1.svg", alt="").footer__plan-icon
          h2.footer__plan-heading お問い合わせ
          h3.footer__plan-subheading 製品に関するご質問・お見積もりなど #[br]
            | お気軽にお問い合わせください。
        .footer__plan-card.footer__plan-card--blue
          img(src="assets/footer-2.svg", alt="").footer__plan-icon
          h2.footer__plan-heading 無料で試してみる
          h3.footer__plan-subheading ご購入前にデモ機を実際の現場で #[br]
            | 1日お試しいただけます。
        .footer__plan-card.footer__plan-card--blue
          img(src="assets/footer-3.svg", alt="").footer__plan-icon
          h2.footer__plan-heading 1週間試してみる
          h3.footer__plan-subheading じっくり検討したい方は1週間 #[br]
            | 有料にてお試しいただけます。
      .footer__sitemap
        .footer__sitemap-section 
          h2.footer__sitemap-title トップ
        .footer__sitemap-section 
          h2.footer__sitemap-title COOLEXとは
          ul.footer__sitemap-list 
            li
              a(href="#").footer__sitemap-item コンセプト
            li
              a(href="#").footer__sitemap-item 冷却効果
        .footer__sitemap-section 
          h2.footer__sitemap-title 製品一覧
          ul.footer__sitemap-list.footer__sitemap-list--two-columns
            li
              a(href="#").footer__sitemap-item COOLEX-Multi
            li
              a(href="#").footer__sitemap-item COOLEX-Pro
            li 
              a(href="#").footer__sitemap-item COOLEX-1
            li 
              a(href="#").footer__sitemap-item COOLEX-Light
            li 
              a(href="#").footer__sitemap-item COOLEX-M131
            li 
              a(href="#").footer__sitemap-item COOLEX-C131
            li 
              a(href="#").footer__sitemap-item COOLEX1201
            li 
              a(href="#").footer__sitemap-item COOLEX-V151
            li 
              a(href="#").footer__sitemap-item ウェア・シート
            li 
              a(href="#").footer__sitemap-item オプション
        .footer__sitemap-section 
          h2.footer__sitemap-title 用途一覧
          ul.footer__sitemap-list.footer__sitemap-list--two-columns
            li 
              a(href="#").footer__sitemap-item 鉄鋼工場
            li 
              a(href="#").footer__sitemap-item 食品工場
            li 
              a(href="#").footer__sitemap-item 溶接作業
            li 
              a(href="#").footer__sitemap-item 塗装ブース
            li 
              a(href="#").footer__sitemap-item メンテナンス作業
            li 
              a(href="#").footer__sitemap-item フォークリフト作業
            li 
              a(href="#").footer__sitemap-item 低価格モデル
            li 
              a(href="#").footer__sitemap-item 多人数使用モデル
        .footer__sitemap-section 
            h2.footer__sitemap-title 導入事例
            h2.footer__sitemap-title ムービーギャラリー
            h2.footer__sitemap-title 会社情報
            h2.footer__sitemap-title インフォメーション
      .footer__contact
        img(src="assets/contact-logo.png", alt="").footer__contact-logo
        .footer__contact-container
          span.footer__contact-phone TEL. 03-3403-0881
          span.footer__contact-hours （営業時間：平⽇9時〜18時）
        p.footer__contact-copyright Copyright ©2018 Kamakura Seisakusho Co., LTD. All rights reserved
    