
block contents 
  footer.footer
    .center-margin
      .footer__plan 
        .footer__plan-card
          img(src="", alt="").footer__plan-icon
          h1.footer__plan-heading 
          h2.footer__plan-subheading
        .footer__plan-card.footer__plan-card--blue
          img(src="", alt="").footer__plan-icon
          h1.footer__plan-heading 
          h2.footer__plan-subheading
        .footer__plan-card.footer__plan-card--blue
          img(src="", alt="").footer__plan-icon
          h1.footer__plan-heading 
          h2.footer__plan-subheading
      .footer__sitemap
      .footer__contact
