mixin solutions(solutionsImg, solutionsIcon, solutionsWhiteIcon, subtitle, title)
  a(href="#").solutions__tile
    img(src= solutionsImg, alt="").solutions__img 
    .solutions__content 
      img(src= solutionsIcon, alt="").solutions__icon
      img(src= solutionsWhiteIcon, alt="").solutions__icon--white
      p.solutions__subtitle!= subtitle
      p.solutions__title= title 
    img(src="assets/arrow-right-01.svg", alt="").solutions__right-arrow