block contents 
.main-content__section
  img(src='assets/banner-image.png', alt="").banner
  .banner__slider
    img(src="assets/arrow-left.png", alt="").banner__slider-left
    img(src="assets/arrow-right.png", alt="").banner__slider-right