$primary: #1e4395;
$secondary: #00baff;

$text: #303030;
$black: #000;
$white: #fff;
$gray: #ccc;

$very-light-blue: #effbff;
$very-light-gray: #f1f1f1;
$light-blue: #c8e4f8;
$light-gray: #eee;
$dark-blue: #10376b;
$dark-gray: #222;

$green: #00aa04;
$orange: #ff9000;
