@use 'elements/reset';
@use 'elements/global';
@use 'settings/color' as color;
@use 'settings/font-family' as font-family;
@use 'settings/font-weight' as font-weight;
@use 'tools/mixin';

.header {
  background-image: linear-gradient(color.$dark-gray, color.$black, color.$dark-blue);
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  font-size: 18px;
  z-index: 1;
}

.header__logo {
  margin: 0px 25px;

  img {
    height: 60px;
    cursor: pointer;
  }
}

//navigation bar
.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 45%;
  padding-left: 20px;
  color: color.$white;
  font-weight: font-weight.$regular;
}

//menu item
.header__menu {
  position: relative;
  display: inline-block;

  &-item {
    cursor: pointer;
    height: 60px;
    @include mixin.center;
    padding: 0px 30px 0px 10px;
  }
}

//dropdown
.header__dropdown {
  display: none;
  position: absolute;
  height: 100px;
  min-width: 145px;
  z-index: 1;

  &-item {
    background-image: linear-gradient(color.$dark-gray, color.$black);
    padding: 8px 10px;
    text-decoration: none;
    display: block;

    &:hover {
      background-image: linear-gradient(color.$primary, color.$dark-blue);
    }
  }
}

//display dropdown when a menu item is hovered
.header__menu:hover .header__dropdown {
  display: block;
}

.header__btn-container {
  display: flex;
  justify-content: space-evenly;
}

//button
.btn {
  margin: -10px 5px 0px 5px;
  width: 210px;
  height: 80px;
  background-image: linear-gradient(color.$secondary, color.$primary);
  @include mixin.center;
  flex-direction: column;
  color: color.$white;
  border-radius: 5px;
  cursor: pointer;

  &__heading {
    font-size: 20px;
    margin-top: 5px;
    opacity: 0.5; 
    font-style: italic;
    font-weight: font-weight.$black;
    line-height: 1;
    cursor: pointer;
  }
  &__subheading-container {
    @include mixin.center;
    cursor: pointer;
  }
  &__subheading {
    font-size: 19px;
    cursor: pointer;
  }
  &__subheading--small {
    font-size: 16px;
  }
}

//change style of button when hovered
.btn:hover {
  background-image: linear-gradient(color.$primary, color.$dark-blue);
}

