@use 'tools/media-queries' as media-query;
@use 'settings/size' as size;

.section {
  position: relative;
  top: size.$header-desktop;
  @include media-query.mx1200 {
    top: size.$header-mx1200;
  }
  @include media-query.sp {
    top: size.$header-sp;
  }
}