@use 'tools/mixin' as mixin;
@use 'tools/function' as function;
@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;

.case-studies {
  @include mixin.center;
  flex-direction: column;
}

.case-studies__container {
  @include mixin.center;
  width: 100%;
}

.case-studies__item {
  flex: 30%;
  height: 364px;
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    border-right: 1px solid color.$white;
  }

  & * {
    cursor: pointer;
  }

  &:hover {
    .case-studies__overlay {
      background-color: rgba(30, 67, 149, 0.6);
    }
  }
}

.case-studies__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-studies__overlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 138px;
  color: color.$white;
  padding: 25px;
}

.case-studies__title {
  font-size: 26px;
  font-weight: font-weight.$bold;
  line-height: 1;
}

.case-studies__lower-text {
  margin-top: 12px;
}

.case-studies__subtitle {
  font-size: 16px;
  line-height: function.getem(16, 22);
}

//lower button
.see-all-btn{
  @include mixin.center;
  color: color.$primary;
  background-color: color.$white;
  border: solid 1px color.$primary;
  border-radius: 20px;
  margin: 24px 230px 20px auto;
  padding: 4px 22px;
  float: right;
  transition: transform 0.3s ease;

  & * {
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__text {
    font-size: 16px;
    line-height: function.getem(16, 28);
  }

  &__icon {
    margin-right: 8px;
    height: 12px;
  }
}
