@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as media-query;
@use 'tools/function' as function;
@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;

.banner {
  @include mixin.center;
  flex-direction: column;
}

.banner__top-container {
  width: 100%;
  position: relative;
}

.banner__image {
  width: 100%;

  @include media-query.sp {
    //height: 750px;
    object-fit: cover;
    content: url("../assets/sp-banner.png");
  }
}

//slider buttons
.banner__slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
  width: 100%;

  @include media-query.sp {
    display: none;
  }
  
  img {
    height: 55px;
    cursor: pointer;
  }

  &-btn:hover {
      opacity: .5;
    }
  
  &-btn--right {
    float: right;
  }
}

//lower part of banner
.banner__lower-container {
  @include mixin.center;
  width: 100%;
  height: 160px;
  background-image: linear-gradient(color.$white, color.$light-blue);

  @include media-query.sp {
    height: 220px;
  }
}

.banner__text-container {
  text-align: center;
  color: color.$primary;
  @include mixin.center;
  flex-direction: column;
}

.banner__title {
  font-weight: font-weight.$bold;
  font-size: 28px;
  line-height: function.getem(28, 40);
  margin-bottom: 5px;
  
  @include media-query.sp {
    font-size: 25px;
    line-height: function.getem(25, 26);
    margin-bottom: 12px;
  }
}

.banner__subtitle {
  font-weight: font-weight.$regular;
  font-size: 18px;
  line-height: function.getem(9, 15);

  @include media-query.sp {
    font-size: 16px;
    line-height: function.getem(16, 24);
  }

  &:last-child {
    display: block;

    @include media-query.sp {
      display: none;
    }
  }

  &--sp {
    display: none;
  
    @include media-query.sp {
      display: block;
    }
  }
}



