@use 'tools/mixin' as mixin;
@use 'tools/function' as function;
@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;

.case-studies {
  @include mixin.center;
  flex-direction: column;
}

.case-studies__container {
  @include mixin.center;
  width: 100%;
}

.case-studies__item {
  flex: 30%;
  height: 364px;
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    border-right: 1px solid color.$white;
  }

  & * {
    cursor: pointer;
  }

  &:hover {
    .case-studies__overlay {
      background-color: rgba(color.$primary, 0.6);
    }
  }
}

.case-studies__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-studies__overlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(color.$black, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 138px;
  color: color.$white;
  padding: 25px;
}

.case-studies__title {
  font-size: 26px;
  font-weight: font-weight.$bold;
  line-height: 1;
}

.case-studies__lower-text {
  margin-top: 12px;
}

.case-studies__subtitle {
  font-size: 16px;
  line-height: function.getem(16, 22);
}
