@use 'tools/mixin' as mixin;
@use 'tools/function' as function;
@use 'settings/color' as color;

.information {
  background-color: color.$very-light-blue;

  &__category,
  &__content {
    cursor: pointer;
  }

  &__container * {
    width: 100%;
  }
}

.information__details {
  @include mixin.center;
  padding: 14px 0;
  font-size: 16px;
  line-height: function.getem(16, 28);
  border-top: 1px solid rgba(color.$black, .5);
  align-items: flex-start;

  &:last-child {
    border-bottom: 1px solid rgba(color.$black, .5);
  }
}

.information__lead {
  @include mixin.center;
  max-width: 210px;
  align-items: flex-start;
}

.information__content {
  font-size: 18px;
  line-height: function.getem(18, 26);
  cursor: pointer;
}

.information__category {
  color: color.$secondary;
  cursor: pointer;

  &--green {
    color: color.$green;
  }

  &--orange {
    color: color.$orange;
  }
}
