@use 'tools/mixin' as mixin;
@use 'tools/function' as function;
@use 'settings/color' as color;
@use 'settings/font-weight' as  font-weight;

.video__container {
  @include mixin.center;
  gap: 25px;
}

.video__item {
  flex: 30%;
  width: 100%;
  
  & * {
    cursor: pointer;
  }
}

.video__thumbnail-container {
  @include mixin.center;
  position: relative;
  height: 184px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    box-shadow: rgba(color.$black, 0.2) 0 10px 15px;
    transform: translate(0,-5px);
  }
}

.video__thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__icon {
  position: absolute;
  width: 78px;
}

.video__text-container {
  margin-top: 13px;
}

.video__heading {
  font-size: 18px;
  font-weight: font-weight.$bold;
  line-height: function.getem(18, 24);
}

.video__subheading {
  font-size: 16px;
  font-weight: font-weight.$regular;
  line-height: function.getem(16, 24);
}