@use 'tools/mixin' as mixin;
@use 'tools/function' as function;
@use 'tools/media-queries' as media-query;
@use 'settings/color' as color;

.information {
  background-color: color.$very-light-blue;

  &__category,
  &__content {
    cursor: pointer;
  }

  &__container * {
    width: 100%;
  }
}

.information__details {
  @include mixin.center;
  padding: 14px 0;
  border-top: 1px solid rgba(color.$black, .5);
  align-items: flex-start;

  @include media-query.sp {
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
  }

  &:last-child {
    border-bottom: 1px solid rgba(color.$black, .5);
  }
}

.information__lead {
  @include mixin.center;
  max-width: 210px;
  align-items: flex-start;
  font-size: 16px;
  line-height: function.getem(16, 28);

  @include media-query.sp {  
    max-width: 190px;
    font-size: 14px;
    line-height: function.getem(14, 14);
  }
}

.information__content {
  font-size: 18px;
  line-height: function.getem(18, 26);
  cursor: pointer;

  @include media-query.sp {  
    font-size: 14px;
    line-height: function.getem(14, 19);
  }
}

.information__category {
  color: color.$secondary;
  cursor: pointer;

  &--green {
    color: color.$green;
  }

  &--orange {
    color: color.$orange;
  }
}
