extends includes/layout.pug
block content
  main.section
    .banner
      .banner__top-container
        img(src='assets/banner-image.png', alt="").banner__image
        .banner__slider
          img(src="assets/arrow-left-01.svg", alt="").banner__slider-btn
          img(src="assets/arrow-right-01.svg", alt="").banner__slider-btn.banner__slider-btn--right
      .banner__lower-container
        .banner__text-container
          h1.banner__title 作業者のみを確実に冷やす  
          h2.banner__subtitle COOLEXは最も効率的かつ効果的な冷却ソリューション! #[br]
            | お客様の作業現場・目的に合わせたラインアップを豊富に揃えています

    .solutions 
      .title
        .title__decoration
        h1.title__text どんな用途でお悩みですか？
        .title__decoration.title__decoration--right
      .solutions__container 
        mixin solutions(solutionsData)
          a(href="#").solutions__tile
            img(src= solutionsData.solutionsImg, alt="").solutions__img 
            .solutions__content 
              img(src= solutionsData.solutionsIcon, alt="").solutions__icon
              img(src= solutionsData.solutionsWhiteIcon, alt="").solutions__icon--white
              p.solutions__subtitle!= solutionsData.subtitle
              p.solutions__title= solutionsData.title 
            img(src="assets/arrow-right-01.svg", alt="").solutions__right-arrow
        - 
          const c1 = { 
            solutionsImg: "assets/photo-1.png", 
            solutionsIcon: "assets/1.svg", 
            solutionsWhiteIcon: "assets/1-white.svg", 
            subtitle: "熱源があり <br> 輻射熱の影響を受ける", 
            title: "鉄鋼工場" }
        -
          const c2 = {
            solutionsImg: "assets/photo-2.png", 
            solutionsIcon: "assets/2.svg", 
            solutionsWhiteIcon: "assets/2-white.svg", 
            subtitle: "衛生服とマスクが必須で <br> 蒸し暑い", 
            title: "食品工場"
          }
        -
          const c3 = {
            solutionsImg: "assets/photo-3.png", 
            solutionsIcon: "assets/3.svg", 
            solutionsWhiteIcon: "assets/3-white.svg", 
            subtitle: "大量の粉塵・ <br> ヒュームが発生する", 
            title: " 溶接作業"
          }
        -
          const c4 = {
            solutionsImg: "assets/photo-4.png", 
            solutionsIcon: "assets/4.svg", 
            solutionsWhiteIcon: "assets/4-white.svg", 
            subtitle: " 防爆エリアかつ風の <br> 対策ができない", 
            title: "塗装ブース"
          }
        -
          const c5 = {
            solutionsImg: "assets/photo-5.png", 
            solutionsIcon: "assets/5.svg", 
            solutionsWhiteIcon: "assets/5-white.svg", 
            subtitle: "移動が多く <br> 暑さ対策が難しい", 
            title: "メンテナンス作業"
          }
        -
          const c6 = {
            solutionsImg: "assets/photo-6.png", 
            solutionsIcon: "assets/6.svg", 
            solutionsWhiteIcon: "assets/6-white.svg", 
            subtitle: "運転者の <br> 暑さ対策が難しい", 
            title: "フォークリフト作業"
          }
        -
          const c7 = {
            solutionsImg: "assets/photo-7.png", 
            solutionsIcon: "assets/7.svg", 
            solutionsWhiteIcon: "assets/7-white.svg", 
            subtitle: "とにかく安価に <br> おさえたい", 
            title: "低価格モデル"
          }
        -
          const c8 = {
            solutionsImg: "assets/photo-8.png", 
            solutionsIcon: "assets/8.svg", 
            solutionsWhiteIcon: "assets/8-white.svg", 
            subtitle: "たくさんの作業者を <br> 冷やしたい", 
            title: "多人数使用モデル"
          }
        +solutions(c1)
        +solutions(c2)
        +solutions(c3)
        +solutions(c4)
        +solutions(c5)
        +solutions(c6)
        +solutions(c7)
        +solutions(c8)
block script
  script(src="js/top/index.ts")